

.post > .header{
    display: flex;
    align-items:center;

}
.post > .header> h3{

    padding: 0 20px;
}


.post{
    border-bottom: 1px solid var(--twitter-background);
    padding: 20px;
}



.post > .body{
    padding: 10px 0;

}

.post > .body > .media > img{
border-radius: 20px;
max-width: 70%;
width: auto;
height: auto;
}

.post > .body > .media {
    text-align: center;
    padding: 10px 0;
    }

    .post > .body > .text > p{
    }

