.sidebarOption{
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-left: 50%;
    padding-right: 10%;
}

.sidebarOption > .MuiSvgIcon-root{
    padding: 20px;
}

.sidebarOption > h2{

    font-weight: 800;
    font-size: 20px;
    margin-right: 10px;

}

.sidebarOption:hover{
    background-color: var(--twitter-background);
    border-radius: 20px;
    color: var(--twitter-color);
    transition: background-color 100ms ease-out ;
}